name: Build, push release

on:
  release:
    types:
    - published

jobs:
  buildpushrelease-ghcr:
    runs-on: ubuntu-latest
    env:
      HASH: $(git rev-parse --short "$GITHUB_SHA")
      BRANCH: ${GITHUB_REF##*/}
    steps:
      - uses: actions/checkout@v2
      - name: Docker login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image release tag
        env:
          FULL_RELEASE_TAG: ${{ github.event.release.tag_name }}
        run: |
          echo "docker_tag=${FULL_RELEASE_TAG#v}" >> $GITHUB_ENV

      - name: Set image name
        run: |
          echo "release_image_name=ghcr.io/$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]'):${{ env.docker_tag }}" >> $GITHUB_ENV

      - name: Build container
        run: |
          docker build . -t "${{ env.release_image_name }}"

      - name: Push to registry
        run: |
          docker push "${{ env.release_image_name }}"
